body{
    background-image: url("City_Landscape_Background.jpg");
    background-color: #cccccc;
    background-attachment: fixed;

}
h2{
    font-size: 55;
    text-align: center;
}


#mapdiv{
    display:none;
    width:50%;
    height:50%;
    margin-left:15%;


}

input:focus {
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.418);
  }
#a111{
    margin-left: 1%; 
    margin-bottom: 1%;
    margin-top: 1.5%;
}

#a11, #a12, #a13, #a14, #a15, #a16, #a17, #a18, #a19, #a110, #a190, #a112, #a113, #a114,#a117,#a118, #buttoncheck{
    margin-left: 1%; 
    margin-bottom: 1%;
}

#lala{
    font-weight: bold;
    margin-left: 8.85%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 0, 0);
}
#wrn_name, #wrn_email, #wrn_nm, #wrn_subnm, #wrn_date, #wrn_gender, #wrn_city, #wrn_job, #wrn_hobbies, #wrn_info{
    font-weight: bold;
    margin-left: 8%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 0, 0);
}
#pipi{
    font-weight: bold;
    margin-left: 8.85%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
#popo{
    margin-left: 8.85%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
#lele{
    font-weight: bold;
    margin-left: 8.5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
}

#b1{
    font-weight: bold;
    color: #000000;
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    margin-left: 1.7%;
}

#b2{
    font-weight: bold;
    color: #000000;
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */    
    margin-left: 3.7%;
}

#b31, #b32{
    font-weight: bold;
    color: #000000;
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    margin-left: 2.1%;
}

#b4{
    font-weight: bold;
    color: #000000;
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    margin-left: 3.85%;
}

#b5{
    font-weight: bold;
    color: #000000;
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    margin-left: 2.05%;
}

#b6{
    font-weight: bold;
    color: #000000;
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    width: 13.3%;
}

#b7, #a901{
    font-weight: bold;
    color: #000000;
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    margin-left: 3.5%;
}

#b81, #b82, #a902{
    font-weight: bold;
    color: #000000;
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    margin-left: 7.95%;
}

#b9{
    font-weight: bold;
    color: #000000;
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    margin-left: 2.9%;
    width: 13.3%;
}

#b100{
    font-weight: bold;
    color: #000000;
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    margin-left: 2.85%;
}

#b10{
    font-weight: bold;
    color: #000000;
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    margin-left: 5.05%;
}

#b11{
    font-weight: bold;
    color: #000000;
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    margin-left: 5.22%;
}

#b12{
    font-weight: bold;
    color: #000000;
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    margin-left: 2.72%;
}

#b13{
    font-weight: bold;
    color: #000000;
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    margin-left: 0.65%;
}






