h2{
    text-align: center;
}

#a11, #a12, #a13, #a14, #a15, #a16, #a17, #a18, #a19, #a110, #a111, #a112, #a113, #a114{
    margin-left: 1%; 
    margin-bottom: 1%;
}

#b1{
    margin-left: 1.7%;
}

#b2{
    margin-left: 3.7%;
}

#b31, #b32{
    margin-left: 2.1%;
}

#b4{
    margin-left: 3.85%;
}

#b5{
    margin-left: 2.05%;
}

#b6{
    width: 13.3%;
}

#b7{
    margin-left: 3.5%;
}

#b81, #b82{
    margin-left: 7.95%;
}

#b9{
    margin-left: 2.9%;
    width: 13.3%;
}

#b10{
    margin-left: 5.05%;
}

#b11{
    margin-left: 5.22%;
}

#b12{
    margin-left: 2.72%;
}

#b13{
    margin-left: 0.65%;
}






